@import "./../../styles/variables.scss";

.container {
  height: 100%;
  width: 100%;
  .top_row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: linear-gradient(to top, #80bceac0, shade(rgba(255, 255, 255, 0.527), 5%)),
      url("./../../assets/imgs/humans.jpg");
    height: 50%;
    .header {
      background: white;
      display: grid;
      box-sizing: border-box;
      grid-template-columns: min-content 1fr 115px 115px;
      justify-items: center;
      align-items: center;
      position: fixed;
      z-index: 1;
      top: 0px;
      width: 100%;
      grid-gap: 8px;
      padding: 8px;
      padding: 8px;
      .img {
        height: 30px;
        // width: 100px;
      }
      .btn {
        @include btn_primary($btn_primary_background);
      }
    }
    .cta_text_search {
      position: absolute;
      bottom: 20px;
      left: 16px;
      font-weight: 500;
    }
    .tag {
      color: black;
      padding: 2px;
      background: white;
      font-weight: 500;
    }
    .cta_text_connect {
      position: absolute;
      top: 40px;
      color: shade($btn_primary_background, 90%);
      right: 16px;
      font-weight: 500;
    }
    .search_field {
      position: absolute;
      bottom: -20px;
      width: 50%;
      left: 10%;
      @include media_below($media-sm) {
        width: 90%;
        left: 2%;
      }
    }
  }
  .middle_row {
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    @include media_below($media-sm) {
      height: auto;
      grid-gap: 8px;
      grid-template-rows: min-content 200px;
      grid-template-columns: 1fr;
    }
    &_section_illustration {
      background-image: url("./../../assets/imgs/illustration_professionalism.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &_section_description {
      display: flex;
      width: 90%;
      align-items: center;
      justify-content: center;
      @include media_below($media-sm) {
        // padding-top: 20px;
        justify-self: center;
      }
      .content {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        grid-gap: 4px;
        justify-self: center;
        align-self: center;
        justify-content: left;
        align-items: center;
        @include media_below($media-sm) {
          padding-top: 20px;
          justify-content: center;
        }
        .reason_title {
          font-weight: 600;
          font-size: 23px;
        }
      }
    }
  }
  .bottom_row {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: $dimens_unit;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    padding: $dimens_unit * 2;
    background: #f4f6f8;
  }
  .body {
    height: 50%;
    width: 50%;
  }
  .modal_container {
    height: 50%;
    width: 50%;
  }
}
